In [270]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [271]:
df = pd.read_csv('spams.csv' , encoding = 'latin-1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,spam,"SIX chances to win CASH! From 100 to 20,000 po...",NaN,NaN,NaN
1,spam,"Congratulatons!!! You have won $10000 ,Walmart...",NaN,NaN,NaN
2,ham,BHAVYA has shared Residential House in Bajal J...,NaN,NaN,NaN
3,spam,Please check that no one has logged in to your...,NaN,NaN,NaN
4,ham,Are you preparing for interviews? Looking to i...,NaN,NaN,NaN
...,...,...,...,...,...
5250,ham,I didnt get anything da,NaN,NaN,NaN
5251,ham,Ok... Sweet dreams...,NaN,NaN,NaN
5252,ham,Well she's in for a big surprise!,NaN,NaN,NaN
5253,ham,"As usual..iam fine, happy &amp; doing well..:",NaN,NaN,NaN
5254,ham,1 in cbe. 2 in chennai.,NaN,NaN,NaN

In [272]:
df.shape

(5255, 5)

In [273]:
df.drop( columns = ['Unnamed: 2','Unnamed: 3','Unnamed: 4'], inplace = True)
df

        v1                                                 v2
0     spam  SIX chances to win CASH! From 100 to 20,000 po...
1     spam  Congratulatons!!! You have won $10000 ,Walmart...
2      ham  BHAVYA has shared Residential House in Bajal J...
3     spam  Please check that no one has logged in to your...
4      ham  Are you preparing for interviews? Looking to i...
...    ...                                                ...
5250   ham                            I didnt get anything da
5251   ham                              Ok... Sweet dreams...
5252   ham                  Well she's in for a big surprise!
5253   ham      As usual..iam fine, happy &amp; doing well..:
5254   ham                            1 in cbe. 2 in chennai.

[5255 rows x 2 columns]

In [285]:
df.rename(columns = {'v1' :'target','v2':'text'}, inplace = True)
df

      target                                               text
0          1  SIX chances to win CASH! From 100 to 20,000 po...
1          1  Congratulatons!!! You have won $10000 ,Walmart...
2          0  BHAVYA has shared Residential House in Bajal J...
3          1  Please check that no one has logged in to your...
4          0  Are you preparing for interviews? Looking to i...
...      ...                                                ...
5250       0                            I didnt get anything da
5251       0                              Ok... Sweet dreams...
5252       0                  Well she's in for a big surprise!
5253       0      As usual..iam fine, happy &amp; doing well..:
5254       0                            1 in cbe. 2 in chennai.

[4888 rows x 2 columns]

In [286]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [287]:

df['target']=encoder.fit_transform(df['target'])
df

      target                                               text
0          1  SIX chances to win CASH! From 100 to 20,000 po...
1          1  Congratulatons!!! You have won $10000 ,Walmart...
2          0  BHAVYA has shared Residential House in Bajal J...
3          1  Please check that no one has logged in to your...
4          0  Are you preparing for interviews? Looking to i...
...      ...                                                ...
5250       0                            I didnt get anything da
5251       0                              Ok... Sweet dreams...
5252       0                  Well she's in for a big surprise!
5253       0      As usual..iam fine, happy &amp; doing well..:
5254       0                            1 in cbe. 2 in chennai.

[4888 rows x 2 columns]

In [288]:
df.isna().sum()

target    0
text      0
dtype: int64

In [289]:

df.duplicated().sum()

0

In [290]:
df.drop_duplicates(keep = 'first' , inplace = True)

In [291]:

df.duplicated().sum()

0

In [292]:
df['target'].value_counts()

target
0    4247
1     641
Name: count, dtype: int64

In [293]:

import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [294]:
df['num_character']=df['text'].apply(len)
df

      target                                               text  num_character
0          1  SIX chances to win CASH! From 100 to 20,000 po...            136
1          1  Congratulatons!!! You have won $10000 ,Walmart...             81
2          0  BHAVYA has shared Residential House in Bajal J...            110
3          1  Please check that no one has logged in to your...            149
4          0  Are you preparing for interviews? Looking to i...            222
...      ...                                                ...            ...
5250       0                            I didnt get anything da             23
5251       0                              Ok... Sweet dreams...             21
5252       0                  Well she's in for a big surprise!             33
5253       0      As usual..iam fine, happy &amp; doing well..:             45
5254       0                            1 in cbe. 2 in chennai.             23

[4888 rows x 3 columns]

In [295]:
df['num_word']=df['text'].apply( lambda x: nltk.word_tokenize(x)).apply(len)

df['num_sentence']=df['text'].apply( lambda x: nltk.sent_tokenize(x)).apply(len)
df

,target,text,num_character,num_word,num_sentence
0,1,"SIX chances to win CASH! From 100 to 20,000 po...",136,31,3
1,1,"Congratulatons!!! You have won $10000 ,Walmart...",81,21,4
2,0,BHAVYA has shared Residential House in Bajal J...,110,17,2
3,1,Please check that no one has logged in to your...,149,29,1
4,0,Are you preparing for interviews? Looking to i...,222,42,5
...,...,...,...,...,...
5250,0,I didnt get anything da,23,5,1
5251,0,Ok... Sweet dreams...,21,5,1
5252,0,Well she's in for a big surprise!,33,9,1
5253,0,"As usual..iam fine, happy &amp; doing well..:",45,14,1
5254,0,1 in cbe. 2 in chennai.,23,8,2

In [296]:
df.shape

(4888, 5)

In [297]:
import string 
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def transform_text(text):
    text = text.lower()
    
    text= nltk.word_tokenize(text)
    y = []
    for i in text:
        if i.isalnum():
            y.append(i)
            
    
    text = y[:]
    y.clear()
    
    for i in text:
        if i not in stopwords.words('english') and  i not in string.punctuation:
            y.append(i)
            
    text = y[:]       
    y.clear()
    
    for i in text:
        y.append(ps.stem(i))
        
    
    return " ".join(y)

In [298]:
from nltk.corpus import stopwords 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [299]:

ps.stem('danceing')

'danc'

In [300]:

df['transform_text']=df['text'].apply(transform_text)

In [301]:
df

,target,text,num_character,num_word,num_sentence,transform_text
0,1,"SIX chances to win CASH! From 100 to 20,000 po...",136,31,3,six chanc win cash 100 pound txt csh11 send co...
1,1,"Congratulatons!!! You have won $10000 ,Walmart...",81,21,4,congratulaton 10000 walmart gift card tap link...
2,0,BHAVYA has shared Residential House in Bajal J...,110,17,2,bhavya share residenti hous bajal bhk resident...
3,1,Please check that no one has logged in to your...,149,29,1,pleas check one log account without permiss he...
4,0,Are you preparing for interviews? Looking to i...,222,42,5,prepar interview look improv code skill want w...
...,...,...,...,...,...,...
5250,0,I didnt get anything da,23,5,1,didnt get anyth da
5251,0,Ok... Sweet dreams...,21,5,1,ok sweet dream
5252,0,Well she's in for a big surprise!,33,9,1,well big surpris
5253,0,"As usual..iam fine, happy &amp; doing well..:",45,14,1,usual iam fine happi amp well
5254,0,1 in cbe. 2 in chennai.,23,8,2,1 cbe 2 chennai

In [302]:

from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer
cv = CountVectorizer()
tfidf = TfidfVectorizer()

In [303]:

X = tfidf.fit_transform(df['transform_text']).toarray()

In [304]:

X.shape

(4888, 6497)

In [305]:

y = df['target'].values

In [306]:

from sklearn.model_selection import train_test_split
X_train, X_test , y_train , y_test = train_test_split(X,y , test_size = 0.2 , random_state = 2 )

from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score ,confusion_matrix, precision_score 

bnb = BernoulliNB()

bnb.fit(X_train, y_train)

y_pred3 = bnb.predict(X_test)
print(accuracy_score(y_test, y_pred3))
print(confusion_matrix(y_test, y_pred3))
print(precision_score(y_test, y_pred3))

0.9683026584867076
[[844   3]
 [ 28 103]]
0.9716981132075472

In [269]:

import pickle
pickle.dump(tfidf,open('vectorizer.pkl','wb'))
pickle.dump(bnb,open('model.pkl','wb'))